.header{
    background-color: green;
}
.header img {
    height: 80px;
   
  
}
.header nav {
    
    background-color: black ;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: white ;
    color: black;
    padding: 3px;
    
}